<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="devsupport.ai.peachpay">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PeachPay">
        </activity>

        <activity
            tools:replace="android:theme"
            android:name="com.oppwa.mobile.connect.checkout.dialog.CheckoutActivity"
            android:theme="@style/Theme.Checkout.Light"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:launchMode="singleTop"/>

        <service
            android:name="com.oppwa.mobile.connect.service.ConnectService"
            android:exported="false"/>


    </application>

</manifest>